<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCtL-qzjM7VrXD6W8J8Q3rQywTODY-P9IY</string>
	<key>GCM_SENDER_ID</key>
	<string>996963538709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.elsaifanalysis.app</string>
	<key>PROJECT_ID</key>
	<string>elsaif-analysis</string>
	<key>STORAGE_BUCKET</key>
	<string>elsaif-analysis.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996963538709:ios:4d59035505c8ddc13f3b1c</string>
</dict>
</plist>